<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
		PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
		'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties'/>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC'/>
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driver}'/>
				<property name='url' value='${jdbc.url}'/>
				<property name='username' value='${jdbc.username}'/>
				<property name='password' value='${jdbc.password}'/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class='com.site.mapper.ReportMapper'/>
		<mapper class='com.site.mapper.domain.CountryMapper'/>
		<mapper class='com.site.mapper.domain.LocationMapper'/>
		<mapper class='com.site.mapper.domain.RequestMapper'/>
		<mapper class='com.site.mapper.domain.SessionMapper'/>
		<mapper class='com.site.mapper.domain.UserGroupMapper'/>
		<mapper class='com.site.mapper.domain.UserMapper'/>
	</mappers>
</configuration>