<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
		PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
		'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<typeAliases>
		<typeAlias type='com.site.model.Report' alias='Report'></typeAlias>
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC'/>
			<dataSource type='POOLED'>
				<property name='driver' value='com.mysql.jdbc.Driver'/>
				<property name='url' value='jdbc:mysql://172.16.2.253:3306/test?serverTimezone=GMT'/>
				<property name='username' value='root'/>
				<property name='password' value='root'/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class='com.site.mapper.ReportMapper'/>
		<mapper class='com.site.mapper.domain.CountryMapper'/>
		<mapper class='com.site.mapper.domain.LocationMapper'/>
		<mapper class='com.site.mapper.domain.RequestMapper'/>
		<mapper class='com.site.mapper.domain.SessionMapper'/>
		<mapper class='com.site.mapper.domain.UserGroupMapper'/>
		<mapper class='com.site.mapper.domain.UserMapper'/>
	</mappers>
</configuration>